<div class="pannel-container d-flex flex-column justify-content-center">
  <button mat-button (click)="closed.emit(false)" class="button-back">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <ng-container *ngIf="!error">
    <mat-icon class="check-icon-success align-self-center">check_circle_outlined</mat-icon>
    <h4 class="align-self-center">Успешен запис</h4>
  </ng-container>
  <ng-container *ngIf="error">
    <mat-icon class="check-icon-error align-self-center">highlight_off_outlined</mat-icon>
    <h4 class="align-self-center">{{errorMessage}}</h4>
  </ng-container>
</div>
